/* #4caf50 */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

body{
  padding: 0.5%;
  background-color: #eaffeb;
}
.links{
  text-decoration: none !important;
  font-size: 20px;
}
.links:hover{
  color:white;
}
h1{
  font-family: 'Original Surfer', cursive;
  font-size: 54px;
}
.jumbotron{
  background-color: #eaffeb;
  margin-bottom: 0% !important;
  padding: 1%;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}
.card-title{
  background-color: rgb(255, 255, 255);
  color: #4caf50 !important;
  font-weight: 500 !important;
  font-family: 'Original Surfer', cursive;
}

.impbtn{
  background-color: black !important;
}
.login-btn{
  height: 37px;
  width: 110px;
  font-size: 17px;
  margin: 0px 0px 7px 123px;
  color:white
}
.input-field input[type=text]:focus, input[type=password]:focus{
  border-bottom: 1px solid #4caf50 !important;
  box-shadow: 0 1px 0 0  #4caf50 !important;
}
.adm-btn{
  margin: 1%;
  width: 530px;
  font-size: 20px;
  height: 55px;
}
.adm-btn:hover {
  background-color: #a4aea5 !important;
}
.uploads{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items{
  width: 200px;
  height: 300px;
}
.socialbtn{
  margin: 2% 5px 0% 5px;
  background-color: black;
} 
.socialbtn:hover{
  margin: 2% 5px 0% 5px;
  background-color: #fd6b84;
} 
.toast{
  background-color: rgb(219, 46, 46);
  font-size: 20px;
  border-radius: 3px;
  margin-right: 90px;
}
.btn:hover{
  color: #849d85
}